<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Microposts  <span class="badge bg-secondary"><%= @count_microposts %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge bg-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge bg-secondary"><%= @count_followers %></span></a></li>
    </ul>
    <%= render 'microposts/microposts', microposts: @microposts %>
    
   <!-- app/views/microposts/show.html.erb -->
<%= render 'shared/header' %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2><%= @micropost.user.name %></h2>
      <p class="text-muted">Posted at <%= @micropost.created_at %></p>
      <p><%= @micropost.content %></p>

      <% if user_signed_in? %>
        <% if current_user.favorite_microposts.include?(@micropost) %>
          <%= button_to 'Remove Favorite', micropost_unfavorite_path(@micropost), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= button_to 'Add to Favorites', micropost_favorite_path(@micropost), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>

</div>